numpy
pandas
lxml
html5lib
beautifulsoup4
requests
openpyxl
matplotlib
ipympl
ipywidgets
seaborn
scikit-learn
imblearn
category_encoders
torch
torchvision
nltk
gensim
tqdm
joblib
plotly
xgboost
lightgbm
catboost
tensorflow
tensorboard
streamlit
scikeras
wordcloud
transformers
emoji
datasets
accelerate
bertviz
umap-learn
evaluate
huggingface-hub